.buttons-container{
    padding-top: 10px;
    padding-bottom: 10px;

}


body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connection-container,
.alreadyHasAcc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(148, 148, 148);
    font-weight: lighter;
}

.costom-container {
    width: 100%;
    max-height: 300px;
    padding-top: 20px;

}


/* add user form */
.registerUser-form,
.loginUser-form {
    width: 40%;
    height: 80%;
    margin: auto;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
}

.registerUser-form h2,
.loginUser-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.registerUser-form form,
.loginUser-form form {
    margin-top: 20px;
}

.registerUser-form .btn-primary,
.loginUser-form .btn-primary{
    width: 100%;
    background-color: #007bff;
    border-color: #007bff;
}

.registerUser-form .btn-primary:hover,
.loginUser-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* end of add user form */